body {
  background-color: #F8F8F8
}

.crystal-containers {
  width: 100%;
  display: flex;
  padding-top: 15px;
  /* background-color: #F8F8F8 */
}

.wins {
  float: left;
  width: 20%;
  overflow: hidden;
  background-color:#c8a8ff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border: 5px;
  border-style: solid;
  border-color: black;
  margin-left: 5px;
  margin-right: 5px;
}


.losses {
  float: left;
  width: 20%;
  overflow: hidden;
  background-color: #ffb7ef;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border: 5px;
  border-style: solid;
  border-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.computer-num {
  float: left;
  width: 20%;
  overflow: hidden;
  background-color: #e13dff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border: 5px;
  border-style: solid;
  border-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.player-score {
  float: left;
  width: 20%;
  overflow: hidden;
  background-color: #ff7a7a;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border: 5px;
  border-style: solid;
  border-color: black;
  margin-left: 5px;
  margin-right: 5px;
}

.crystals {
  width: 100%;
}
.gem {
  /* width: 25%; */
  margin-left: 25px;
  margin-right: 25px;
  overflow: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}